<!DOCTYPE html>
<html>
<head>
  <title>Coachella Streamer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='site-wrapper'>

  <div class="site-wrapper-inner">

    <div class="cover-container">
      <div id='player'>
      </div>

      <div class="inner cover">
        <h1 class="cover-heading">Coachella Streamer</h1>
        <div class='contents'>
        </div>
      </div>

    </div>

  </div>


</div>

</body>
<script>
  // 2. This code loads the IFrame Player API code asynchronously.
  var tag = document.createElement('script');

  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  // 3. This function creates an <iframe> (and YouTube player)
  //    after the API code downloads.
</script>
</html>
